body
{
  font-family: 'Open Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.container-fluid {
     padding:0 !important;
     margin: 0 !important;
}
.row
{
  padding:0 !important;
  margin: 0 !important;
}
html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.welcome
{
  text-align: center;

}
.img-league
{
  outline: none;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 7em;
  width: 7em;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  cursor: pointer; cursor: hand;
  box-shadow: 0 1px 3px rgba(0,0,0,0.60);
}
.user-guess
{
  color: #fff;
  background-color: #04BC00;
  border: none;
  margin-top: 0.1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30);
}
.img-league:hover
{
  margin-bottom: 0em;
  height: 8em;
  width: 8em;
  background-repeat: no-repeat;
  background-position: 70%;
  border-radius: 70%;
  background-size: 100% auto;
  cursor: pointer; cursor: hand;
  box-shadow: 0 1px 3px rgba(0,0,0,0.60);

}
.img-league:focus
{
  outline: none;
  margin-bottom: 0em;
  height: 8em;
  width: 8em;
  background-repeat: no-repeat;
  background-position: 70%;
  border-radius: 70%;
  background-size: 100% auto;
  cursor: pointer; cursor: hand;
  box-shadow: 0 1px 3px rgba(0,0,0,0.60);

}
.content-divider
{
    margin: 2em 0;
}
.content-divider-profile
{
    margin: 0.5em 0;
}
#welcome-list
{
  text-align: center;
  list-style-type:none;
  font-size: 1.2em;
}
h1
{
  text-align: center;
}
h3, h4
{
  text-align: center;
}
.box{
    border-radius: 1em;
    box-shadow: 1em 1em 2em 0em rgba(0, 0, 0, 0.16), 0em 2em 4em 0em rgba(0, 0, 0, 0.12);
    padding: 1em 2em;
    display: block;
    margin-top: 3em;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
}
.box li, p
{
  margin: 0 0 0.3em 0;
  font-size: 1em;
}
.box h3
{
  font-size: 1.5em;
}
.box-icon
{
  margin: 0 auto;
  vertical-align: top;
  margin-top: -3em;
  display: table;
}
.thead-inverse
{
  /*background-color: #292b2c;*/
  background-color: #04BC00;
  color: #fff;
}
.table-matches
{
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30);
  margin-bottom: 2em;
  font-size: 1.2em;
}
.loader {
    border: 1.2em solid #f3f3f3; /* Light grey */
    border-top: 1.2em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 2s linear infinite;
    margin:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.matches
{
  height: 6em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    outline: none;
}
input
{
  /*background-color: #04BC00;*/
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a
{
  /*background-image: none !important;
  background-color: #04BC00 !important;*/
  background-image: linear-gradient(to bottom,#00fb2e 0,#008a12 100%);
  font-family: 'Roboto Slab', serif !important;
}
.guessButton
{
  color: #fff;
  background-color: #04BC00;
  border: none;
  margin-top: 0.1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30);
}
.img-home
{
  height: 25em;
  width: 25em;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  box-shadow: 0 1em 3em rgba(0,0,0,0.60);
}

#profilePic
{
  height: 15em;
  width: 100%;
}
.boxProfile{
    border-radius: 1em;
    box-shadow: 1em 1em 2em 0em rgba(0, 0, 0, 0.16), 0em 2em 4em 0em rgba(0, 0, 0, 0.12);
    padding: 1em 2em;
    display: block;
    margin-top: 3em;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
}
.boxProfile h4{
  text-align: left;
}
#profileName{
  margin-top: 1em;
  text-align: left;
  font-family: 'Roboto Slab', serif;
}
.statsTittle
{
  text-align: left;
}
.stat
{
  text-align: right;
}
#header-historial
{
  text-align: center;
}
.login-button
{
  background: rgb(4, 188, 0) !important;
}

#login-buttons a{
    background-color: none !important;
    color: rgb(4, 188, 0) !important;
    padding: 14px 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-family: 'Roboto Slab', serif !important;
}
.result-guess
{
  width:100%;
  background-color: rgb(4, 188, 0);
  color: #fff;
  border: none;
  margin-top: 0.1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.30);
}

.navbar-inverse {
  border-radius: 0px !important;
}
.fa-check-circle-o {
  color: rgb(4, 188, 0);
}
.fa-times-circle
{
  color: #cc0505;;
}
.fa-clock-o
{
  color:rgba(0, 0, 0, 0.70);
}

.current {
  background-color: rgba(0, 255, 0, 0.1);
}
